<div class="wrapper">
    <div class="page-header section-dark" style="background-image: url('assets/img/antoine-barres.jpg')">
        <div class="filter"></div>
        <div class="content-center">
            <div class="container">
                <div class="title-brand">
                    <h1 class="presentation-title">Secret Keepers</h1>
                    <div class="fog-low">
                        <img src="assets/img/fog-low.png" alt="">
                    </div>
                    <div class="fog-low right">
                        <img src="assets/img/fog-low.png" alt="">
                    </div>
                </div>

                <h2 class="presentation-subtitle text-center">The only place where all your secrets are safe!</h2>
            </div>
        </div>
        <div class="moving-clouds" style="background-image: url('assets/img/clouds.png'); "></div>
    </div>
    <div class="main">
      
      <div class="section javascript-components">
          <div class="container">
              <div class="tim-title">
                  <h2>About Us</h2>
              </div>
              <div class="row" id="modals">
                  <div class="col-md-6 mr-auto ml-auto">
                      <div class="tim-title">
                          <pre>
                            Never seek to tell thy love
                            Love that never told can be
                            For the gentle wind does move
                            Silently invisibly
                            
                            I told my love I told my love
                            I told her all my heart
                            Trembling cold in ghastly fears
                            Ah she doth depart
                            
                            Soon as she was gone from me
                            A traveller whistleblower came by
                            Silently invisibly
                            O was no deny
                          </pre>
                          <p>We would like to share what we do with you, but imagine what kind of secret keeper that would make us.</p>
                      </div>
                  </div>
              </div>
          </div>
      </div>
    </div>
</div>
