<div class="wrapper" *ngIf="user">
    <div class="page-header page-header-xs" data-parallax="true" style="background-image: url('./assets/img/fabio-mangione.jpg');">
        <div class="filter"></div>
    </div>
    <div class="section profile-content">
        <div class="container">
            <div class="owner">
                <div class="avatar">
                    <img src="./assets/img/faces/joe-gardner-2.jpg" alt="Circle Image" class="img-circle img-no-padding img-responsive">
                </div>
                <!-- <div class="name">
                    <h4 class="title">{{ user.name }}<br /></h4>
                </div> -->
                <div class="row">
                    <div class="col-md-6 mr-auto ml-auto">
                        <form class="register-form" #f=ngForm [formGroup]="commandForm" (ngSubmit)="sendCommand(f)">
                            <label>Enter your command</label>
                            <div class="input-group form-group-no-border" [ngClass]="{'input-group-focus':focus===true}">
    
                                <input type="text" class="form-control" placeholder="command" (focus)="focus=true" (blur)="focus=false" formControlName="command">
                            </div>
                            <button class="btn btn-danger btn-block btn-round" [disabled]="!commandForm.valid">Execute!</button>
                        </form>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 mr-auto ml-auto">
                        <pre>
                            {{ commandResult }}
                        </pre>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
